body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #282c34;
}

h1 {
  display: flex;
  text-align: center;
  font-size: calc(5.5rem + 2vmin);
  justify-content: space-around;
  text-shadow: 7px 7px 21px rgb(0, 0, 0, 0.6);
  -webkit-text-stroke: thin;
  -webkit-text-stroke-color: rgb(183, 142, 60);
  color: #fff;
}

p {
  display: flex;
  color: rgb(183, 142, 60);
  text-shadow: 7px 7px 21px rgb(0, 0, 0, 0.6);
  font-size: 1.8rem;
  justify-content: space-around;
}

a {
  display: flex;
  font-size: 1rem;
  color: rgb(48, 92, 223);
  justify-content: space-around;
}

h5 {
  margin-top: 6em;
  text-align: center;
  color: #fff;
}